n8n-workflow-automation/examples/rss-to-slack.json
{
  "name": "RSS to Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.RSS_FEED_URL || 'https://hnrss.org/newest?points=100' }}"
      },
      "name": "Fetch RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#general' }}",
        "text": "📰 *{{ $json.title }}*\n{{ $json.link }}\n{{ $json.contentSnippet }}"
      },
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Every 15 Minutes": { "main": [[{ "node": "Fetch RSS", "type": "main", "index": 0 }]] },
    "Fetch RSS": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
  }
}
